:root {
  --background-dark: #0a0a1a;
  --text-primary: #ffffff;
  --color-yellow: #f4d35e;
  --color-cyan: #3bceac;
  --color-red: #ef233c;
  --color-pink: #d81159;
  --color-blue: #3ba7ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 7rem;
  color: white;
  text-transform: uppercase;
  text-shadow:
    -2px -2px 0 #ff0000,
     2px -2px 0 #ff0000,
    -2px  2px 0 #ff0000,
     2px  2px 0 #ff0000;
}

.title-line {
  display: block;
  text-align: center;
}

.code {
  color: yellow;
  text-shadow:
    -2px -2px 0 #ff0000,
     2px -2px 0 #ff0000,
    -2px  2px 0 #ff0000,
     2px  2px 0 #ff0000;
}


body {
  background-color: #0a0a1a;      
  background-repeat: no-repeat; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home {
  display: flex;
  justify-content: center; 
  align-items: center;            
  flex-direction: column;  
  position: relative;
  z-index: 1;
}


.btn-pixel {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 15px 40px;
  font-family: 'VT323';
  font-size: 40px;
  color: #fff8e3;
  text-transform: uppercase;
  text-decoration: none;
  background: #cfa715;
  border: 3px solid #681106;
  border-radius: 15px;
  box-shadow: 0 4px 0 #000;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.btn-pixel:hover {
  background: var(--color-yellow);
  color: #800303;
  transform: translateY(-2px);
}

.btn-pixel:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #000;
}
